<div class="navbar-collapse collapse" id="navbar-header" aria-expanded="false" style="height: 0px; padding-top: 20px;">
  <div class="container">
    <div class="about">
      <h4>{{ site.title }}</h4>
      <p class="text-muted">{{ site.description }}</p>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-header" aria-expanded="false">
      ☰
    </button>
    <a href="#" class="navbar-brand sr-only">{{ site.title }}</a>
  </div>
</div>